body {
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 0;
}

/* .col {
  background-color: grey;
  border: 2px solid #000000;
} */

.text-uppercase {
  position: absolute;  
  font-size: 2em;
  top: 60px;
  color: #ffffff;
}

.row2 .text-uppercase {
  position: absolute;
  font-size: 1.5rem;
  top: 420px;
  /* left: -12px; */
  color: #ffffff;
  /* font-weight: bold; */
}

.btn {
  position: absolute;
  top: 370px;
  /* left: 700px; */
}

.btn:hover {
  transform: scale(1.1);
}

.container-fluid {
  background-image: url('./images/header.jpg');
  background-position: center 80%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

/* Break point for small screens */
@media only screen and (max-width: 576px) {
  .container-fluid {
    background-position-y: -75px;
    height: 100vh;
  }

  .text-uppercase {
    top: 120px;
    font-size: 1.5em;
    color: #ffffff;
  }

  .btn {
    top: 460px;
    /* left: 150px; */
    font-size: .8em;
  }

  .row2 .text-uppercase {
    top: 500px;
    left: -10px;
    font-size: 1em;
  }
}

/* Break point for medium screens */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .text-uppercase {
    top: 220px;
    font-size: 1.5em;
    color: #ffffff;
  }

  .btn {
    top: 540px;
    /* left: 150px; */
    font-size: .8em;
  }

  .row2 .text-uppercase {
    top: 580px;
    /* left: -2px; */
    font-size: 1em;
  }
}

/* Breaking point for large screens */
@media only screen and (min-width: 800px) and (max-width: 992px) {
  .text-uppercase {
    top: 220px;
    font-size: 1.5em;
    color: #ffffff;
  }

  .btn {
    top: 430px;
    /* left: 150px; */
    font-size: .8em;
  }

  .row2 .text-uppercase {
    top: 465px;
    /* left: -2px; */
    font-size: 1em;
  }
}

/* Breaking point for xl-large screens */
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .text-uppercase {
    top: 220px;
    font-size: 1.5em;
    color: #ffffff;
  }

  .btn {
    top: 300px;
    /* left: 150px; */
    font-size: .8em;
  }

  .row2 .text-uppercase {
    top: 455px;
    /* left: -2px; */
    font-size: 1em;
  }
}



